<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Person</title>
</head>

<body>
    <h3>Add New Person Details here</h3>
    <form action="/pages/add" method="post">
        <input type="text" placeholder="Name" name="name"><br>
        <input type="number" placeholder="Age" name="age"><br>
        <input type="text" placeholder="City" name="city"><br>
        <input type="submit" value="SUBMIT">
    </form>
</body>

</html>